In [132]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from splinter import Browser
from datetime import datetime
import json

In [2]:
file = "MasterData_Wilson.xlsx"
pd_file = pd.read_excel(file)
bakery_df = pd.DataFrame(pd_file)
bakery_df.head()

,date,time,year,MonthN,Month,WeekN,Day,WeekD,H,Min,...,Price,Quantity,Modifiers,Subtotal,Discounts,Net Total,Tax,Total Due,Unnamed: 29,Unnamed: 30
0,2016-07-25,2016-07-25 09:04:00,2016.0,7.0,Jul,31.0,25.0,Mon,9.0,4.0,...,2.25,1,0,2.25,0,2.25,0.05,2.3,NaN,NaN
1,2016-07-25,2016-07-25 09:28:00,2016.0,7.0,Jul,31.0,25.0,Mon,9.0,28.0,...,2,2,0,4,0,4,0.09,4.09,NaN,NaN
2,2016-07-25,2016-07-25 09:28:00,2016.0,7.0,Jul,31.0,25.0,Mon,9.0,28.0,...,3.75,1,0,3.75,0,3.75,0.38,4.13,NaN,NaN
3,2016-07-25,2016-07-25 09:28:00,2016.0,7.0,Jul,31.0,25.0,Mon,9.0,28.0,...,3.8,1,0,3.8,0,3.8,0.09,3.89,NaN,NaN
4,2016-07-25,2016-07-25 09:29:00,2016.0,7.0,Jul,31.0,25.0,Mon,9.0,29.0,...,3.5,1,0,3.5,0,3.5,0.08,3.58,NaN,NaN

In [3]:
bakery_df.columns

Index(['date', 'time', 'year', 'MonthN', 'Month', 'WeekN', 'Day', 'WeekD', 'H',
       'Min', '30min', 'Rtime', '30time', 'H.5', 'Operation', 'Line Item',
       'Department', 'Category', 'Supplier', 'Supplier Code', 'Cost', 'Price',
       'Quantity', 'Modifiers', 'Subtotal', 'Discounts', 'Net Total', 'Tax',
       'Total Due', 'Unnamed: 29', 'Unnamed: 30'],
      dtype='object')

In [11]:
bakery_df['Unnamed: 29'].value_counts()

Sat    1
2      1
Name: Unnamed: 29, dtype: int64

In [10]:
bakery_df.loc[(bakery_df['Unnamed: 29'] == 'Sat') | (bakery_df['Unnamed: 29'] == 2), :]

,date,time,year,MonthN,Month,WeekN,Day,WeekD,H,Min,...,Price,Quantity,Modifiers,Subtotal,Discounts,Net Total,Tax,Total Due,Unnamed: 29,Unnamed: 30
393033,2018-07-22,2018-07-22 11:18:00,2018.0,7.0,Jul,29.0,22.0,Sun,11.0,18.0,...,3.8,2,0,7.6,0,7.6,0.18,7.78,2,2.0
393034,2018-07-22,2018-07-22 11:18:00,2018.0,7.0,Jul,29.0,22.0,Sun,11.0,18.0,...,3.5,4,0,14,0,14,0.32,14.32,Sat,NaN

In [12]:
bakery_df['Unnamed: 30'].value_counts()

2.0    1
Name: Unnamed: 30, dtype: int64

In [15]:
bakery_df = bakery_df[['date', 'time', 'year', 'MonthN', 'Month', 'WeekN', 'Day', 'WeekD', 'H',
       'Min', '30min', 'Rtime', '30time', 'H.5', 'Operation', 'Line Item',
       'Department', 'Category', 'Supplier', 'Supplier Code', 'Cost', 'Price',
       'Quantity', 'Modifiers', 'Subtotal', 'Discounts', 'Net Total', 'Tax',
       'Total Due']]

In [16]:
bakery_df.head()

,date,time,year,MonthN,Month,WeekN,Day,WeekD,H,Min,...,Supplier Code,Cost,Price,Quantity,Modifiers,Subtotal,Discounts,Net Total,Tax,Total Due
0,2016-07-25,2016-07-25 09:04:00,2016.0,7.0,Jul,31.0,25.0,Mon,9.0,4.0,...,MACCHO,1,2.25,1,0,2.25,0,2.25,0.05,2.3
1,2016-07-25,2016-07-25 09:28:00,2016.0,7.0,Jul,31.0,25.0,Mon,9.0,28.0,...,00:00:00,0,2,2,0,4,0,4,0.09,4.09
2,2016-07-25,2016-07-25 09:28:00,2016.0,7.0,Jul,31.0,25.0,Mon,9.0,28.0,...,CBC,0,3.75,1,0,3.75,0,3.75,0.38,4.13
3,2016-07-25,2016-07-25 09:28:00,2016.0,7.0,Jul,31.0,25.0,Mon,9.0,28.0,...,CRC,0,3.8,1,0,3.8,0,3.8,0.09,3.89
4,2016-07-25,2016-07-25 09:29:00,2016.0,7.0,Jul,31.0,25.0,Mon,9.0,29.0,...,BTRA,1.4,3.5,1,0,3.5,0,3.5,0.08,3.58

In [17]:
bakery_df.dtypes

date             datetime64[ns]
time                     object
year                    float64
MonthN                  float64
Month                    object
WeekN                   float64
Day                     float64
WeekD                    object
H                       float64
Min                     float64
30min                   float64
Rtime                    object
30time                   object
H.5                     float64
Operation                object
Line Item                object
Department               object
Category                 object
Supplier                 object
Supplier Code            object
Cost                     object
Price                    object
Quantity                 object
Modifiers                object
Subtotal                 object
Discounts                object
Net Total                object
Tax                      object
Total Due                object
dtype: object

In [24]:
bakery_df['year'] = bakery_df['year'].fillna(0.0).astype(int)

In [25]:
bakery_df['year'].value_counts()

2017    203373
2018    186308
2016     79201
0            1
Name: year, dtype: int64

In [26]:
bakery_df.loc[bakery_df['year'] == 0, :]

,date,time,year,MonthN,Month,WeekN,Day,WeekD,H,Min,...,Supplier Code,Cost,Price,Quantity,Modifiers,Subtotal,Discounts,Net Total,Tax,Total Due
416580,2018-09-03,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,0,0,0,0,0

In [29]:
bakery_df = bakery_df.drop(index=416580)
bakery_df.loc[bakery_df['year'] == 0, :]

Empty DataFrame
Columns: [date, time, year, MonthN, Month, WeekN, Day, WeekD, H, Min, 30min, Rtime, 30time, H.5, Operation, Line Item, Department, Category, Supplier, Supplier Code, Cost, Price, Quantity, Modifiers, Subtotal, Discounts, Net Total, Tax, Total Due]
Index: []

[0 rows x 29 columns]

In [31]:
bakery_df['MonthN'] = bakery_df['MonthN'].fillna(0.0).astype(int)

In [32]:
bakery_df['MonthN'].value_counts()

9     54096
10    52943
11    48566
8     47183
5     39560
3     36752
6     34988
7     34876
4     33477
12    29130
2     28677
1     28634
Name: MonthN, dtype: int64

In [33]:
bakery_df['WeekN'] = bakery_df['WeekN'].fillna(0.0).astype(int)
bakery_df['WeekN'].value_counts()

46    14343
41    13682
38    13388
39    13320
42    12906
40    12576
45    12565
36    12330
44    11675
37    11619
35    11165
47    10787
19    10562
33    10542
31    10429
34    10353
43    10182
32     9902
20     9035
22     8740
24     8661
21     8426
12     8366
15     8364
23     8333
13     8238
11     8152
25     8148
14     8031
10     7991
49     7987
4      7963
17     7916
16     7768
18     7612
50     7589
5      7530
7      7529
9      7524
29     7517
30     7280
3      7137
8      6994
6      6959
28     6954
27     6876
51     6859
26     6725
52     6211
48     5696
2      5577
53     4109
1      1759
Name: WeekN, dtype: int64

In [34]:
bakery_df['Day'] = bakery_df['Day'].fillna(0.0).astype(int)
bakery_df['Day'].value_counts()

14    17191
13    16874
6     16853
12    16681
11    16531
3     16328
8     16245
17    16059
18    15769
22    15733
9     15727
7     15661
10    15440
19    15419
20    15372
28    15343
16    15308
15    15214
21    15156
5     15108
2     15001
27    14757
29    14622
26    14343
30    14253
4     14007
1     13917
23    13796
25    13739
24    13435
31     9000
Name: Day, dtype: int64

In [35]:
bakery_df.head()

,date,time,year,MonthN,Month,WeekN,Day,WeekD,H,Min,...,Supplier Code,Cost,Price,Quantity,Modifiers,Subtotal,Discounts,Net Total,Tax,Total Due
0,2016-07-25,2016-07-25 09:04:00,2016,7,Jul,31,25,Mon,9.0,4.0,...,MACCHO,1,2.25,1,0,2.25,0,2.25,0.05,2.3
1,2016-07-25,2016-07-25 09:28:00,2016,7,Jul,31,25,Mon,9.0,28.0,...,00:00:00,0,2,2,0,4,0,4,0.09,4.09
2,2016-07-25,2016-07-25 09:28:00,2016,7,Jul,31,25,Mon,9.0,28.0,...,CBC,0,3.75,1,0,3.75,0,3.75,0.38,4.13
3,2016-07-25,2016-07-25 09:28:00,2016,7,Jul,31,25,Mon,9.0,28.0,...,CRC,0,3.8,1,0,3.8,0,3.8,0.09,3.89
4,2016-07-25,2016-07-25 09:29:00,2016,7,Jul,31,25,Mon,9.0,29.0,...,BTRA,1.4,3.5,1,0,3.5,0,3.5,0.08,3.58

In [36]:
cln_bakery_df = bakery_df[['time', 'WeekN', 'WeekD', 'Rtime', 'Operation', 'Line Item', 'Department', \
                           'Category', 'Supplier', 'Supplier Code', 'Cost', 'Price','Quantity', \
                           'Modifiers', 'Subtotal', 'Discounts', 'Net Total', 'Tax', 'Total Due']]

In [37]:
cln_bakery_df.head()

,time,WeekN,WeekD,Rtime,Operation,Line Item,Department,Category,Supplier,Supplier Code,Cost,Price,Quantity,Modifiers,Subtotal,Discounts,Net Total,Tax,Total Due
0,2016-07-25 09:04:00,31,Mon,09:04:00,SALE,Macaron Chocolate,Pastry,general,Cook Au Vin,MACCHO,1,2.25,1,0,2.25,0,2.25,0.05,2.3
1,2016-07-25 09:28:00,31,Mon,09:28:00,SALE,Type in,general,general,not tracked,00:00:00,0,2,2,0,4,0,4,0.09,4.09
2,2016-07-25 09:28:00,31,Mon,09:28:00,SALE,Latte,Coffee,general,Chicago Beverage Company,CBC,0,3.75,1,0,3.75,0,3.75,0.38,4.13
3,2016-07-25 09:28:00,31,Mon,09:28:00,SALE,Chocolate croissant (to go),Croissants,To Go,Cook Au Vin,CRC,0,3.8,1,0,3.8,0,3.8,0.09,3.89
4,2016-07-25 09:29:00,31,Mon,09:29:00,SALE,Baguette tradition,Bread,general,Cook Au Vin,BTRA,1.4,3.5,1,0,3.5,0,3.5,0.08,3.58

In [38]:
cln_bakery_df['Operation'].value_counts()

SALE      468394
RETURN       488
Name: Operation, dtype: int64

In [39]:
cln_bakery_df['Supplier'].value_counts()

not tracked                 238976
Cook Au Vin                 199936
Chicago Beverage Company     15187
French Feast                 13933
Viola Imports                  601
La Colombe                     248
Chef warehouse                   1
Name: Supplier, dtype: int64

In [44]:
bakery_link = "https://www.yelp.com/biz/la-boulangerie-chicago-4?sort_by=date_desc"
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [45]:
bakery_response = requests.get(bakery_link)
bakery_soup = bs(bakery_response.text, 'html.parser')

In [46]:
bakery_results = bakery_soup.body.find_all('div', class_='review--with-sidebar')

In [184]:
review_list = []

for review in bakery_results:
    user_info = []
    user_stats = []
    user_name = '' 
    user_loc = ''
    user_friends = ''
    user_reviews = ''
    user_photos = ''
    review_info = []
    review_stars = ''
    review_date = ''
    review_text = ''
    user_check_ins = ''
    elite = ''
    elite_status = ''
    photo = []
    photo_links = []
    
    user_information = {}
    
    try:
        user_info = review.find('ul', class_='user-passport-info')
        user_stats = review.find('ul', class_='user-passport-stats')
        review_info = review.find('div', class_='review-content')
        
        try:
            user_name = user_info.find('li', class_='user-name').find('a').text.strip()
            user_profile_link = user_info.find('a', class_='user-display-name').attrs['href']
            user_profile_link = "https://www.yelp.com" + user_profile_link
            user_loc = user_info.find('li', class_='user-location').find('b').text.strip()
            review_stars = review_info.find('div', class_='i-stars').attrs['title']
            review_stars = int(float(review_stars.split()[0]))
            review_date = review_info.find('span', class_='rating-qualifier').text.strip()
            review_text = review_info.find('p').text
        except AttributeError as error:
            print(error)
            
        try:
            user_friends = user_stats.find('li', class_='friend-count').find('b').text.strip()
        except AttributeError as error:
            if user_stats:
                user_friends = '0'
        
        try:
            user_reviews = user_stats.find('li', class_='review-count').find('b').text.strip()
        except AttributeError as error:
            if user_stats:
                user_reviews = '0'
        
        try:
            user_photos = user_stats.find('li', class_='photo-count').find('b').text.strip()
        except AttributeError as error:
            if user_stats:
                user_photos = '0'
        
        try:
            elite = user_stats.find('li', class_='is-elite')
            if elite:
                elite_status = 'elite'
            else:
                elite_status = 'not elite'
        except AttributeError as error:
            print(error)
        
        try:
            user_check_ins = review_info.find('li', class_='review-tags_item').find('span').text.strip()
            user_check_ins = user_check_ins.split()[0]
        except AttributeError as error:
            if review_info:
                user_check_ins = '0'
        
#         try:
#             photos = review_info.find('ul', class_='photo-box-grid')
#             if photos:
#                 for link in photos:
#                     print(link)
#                     picture = link.find('div', class_='photo-box').find('img').attrs['src']
#                     photo_links.append(picture)
#         except AttributeError as error:
#             if review_info:
#                 photo_links = []

        if (user_name and user_loc and user_friends and user_reviews and user_photos and review_stars \
            and review_date and user_check_ins and user_profile_link and review_text):
            
            user_information = {
                'user_name' : user_name,
                'user_location' : user_loc,
                'user_link' : user_profile_link,
                'user_friends' : int(user_friends),
                'user_reviews' : int(user_reviews),
                'user_photos' : int(user_photos),
                'stars' : review_stars,
                'review_date' : review_date,
                'review_text' : review_text,
#                 'review_photos' : photo_links,
                'check_ins' : int(user_check_ins),
                'elite_status' : elite_status
            }

            review_list.append(user_information)
    except AttributeError as error:
        print(error)

print(json.dumps(review_list, indent=4, sort_keys=True))

'NoneType' object has no attribute 'find'
'NoneType' object has no attribute 'find'
[
    {
        "check_ins": 1,
        "elite_status": "elite",
        "review_date": "12/23/2018",
        "review_text": "I've been dreaming of quiche and croissants as good as the ones I had in Paris. Everything here is phenomenal and baked daily. We've had all types of croissants, muffins, macaroons, and quiche here. My favorite is the salmon and leek quiche. Stop be here, it's a hidden gem. The bread is to die for and smells up the whole bakery.",
        "stars": 5,
        "user_friends": 195,
        "user_link": "https://www.yelp.com/user_details?userid=LlGh8vFtBvix42rxV4pLNQ",
        "user_location": "Chicago, IL",
        "user_name": "Sabrina G.",
        "user_photos": 81,
        "user_reviews": 50
    },
    {
        "check_ins": 0,
        "elite_status": "elite",
        "review_date": "10/10/2018",
        "review_text": "We came to La Boulangerie after recommendation from my cousin and it just happened to be very close to the Airbnb we stayed at. The cafe has a very warm and inviting ambiance. There's communal tables inside and a few tables outside. The majority of the staff speak French, and it's located right next to a French school. I ordered the salmon and leek quiche, which came with a small side salad. \u00a0My girlfriend ordered the strawberry mille-feuille. We also ordered a bunch of macarons for ourselves as gifts for family. All of the items were delicious and the staff was very friendly and attentive. I would definitely recommend checking this place out!",
        "stars": 5,
        "user_friends": 16,
        "user_link": "https://www.yelp.com/user_details?userid=mymQszIbCFxauVKKFJJJmw",
        "user_location": "Columbia, SC",
        "user_name": "Alfie B.",
        "user_photos": 321,
        "user_reviews": 105
    },
    {
        "check_ins": 0,
        "elite_status": "elite",
        "review_date": "10/9/2018",
        "review_text": "This is a great breakfast spot. Even better if you're looking to practice French, as the staff speaks French, and there's a French Academy right across the street. Tables are communal style inside, and there's plenty of patio seating outside. Boyfriend ordered the quiche and a side salad for breakfast, while I got a strawberry millefeuille. Both were very tasty. We walked out with gift boxes of macarons too, and they were pretty, well-constructed, and delicious. Very laid-back atmosphere.",
        "stars": 5,
        "user_friends": 28,
        "user_link": "https://www.yelp.com/user_details?userid=1aah9YdCNeLL19cir15J4g",
        "user_location": "Columbia, SC",
        "user_name": "Anna L.",
        "user_photos": 145,
        "user_reviews": 175
    },
    {
        "check_ins": 0,
        "elite_status": "not elite",
        "review_date": "10/2/2018",
        "review_text": "Everytime i go here im like, wait a minute, is this a school open house? always filled with kids running around and parents and parents and parents greeting each other so unfortunately not a perfect place for a quiet coffee chat. really good pastries so i just make it to go.",
        "stars": 3,
        "user_friends": 0,
        "user_link": "https://www.yelp.com/user_details?userid=0ANzg9raswfpMowYzTn-jQ",
        "user_location": "Chicago, IL",
        "user_name": "Jordan E.",
        "user_photos": 6,
        "user_reviews": 20
    },
    {
        "check_ins": 0,
        "elite_status": "not elite",
        "review_date": "9/22/2018",
        "review_text": "call first if you want french bread. Called around noon on a Saturday and they were already sold out and it would have been a wasted trip if I had not called. Of course, I could've waited can hour! Obviously bad management or immature kids who can't handle running a business.",
        "stars": 1,
        "user_friends": 2,
        "user_link": "https://www.yelp.com/user_details?userid=pn-rIREjI6gg8im8oUQCHg",
        "user_location": "Chicago, IL",
        "user_name": "Devon S.",
        "user_photos": 19,
        "user_reviews": 78
    },
    {
        "check_ins": 0,
        "elite_status": "elite",
        "review_date": "8/26/2018",
        "review_text": "We walk 25 minutes to this little cafe to bring home their delicious baguette. We could go to any umber of supermarkets much closer to home, but this bread is exceptional. Returning from living abroad in Europe, it's hard to find a bakery that does fresh, good bread and the supermarket \"bakeries\" just don't suffice anymore. The croissants here are great - but like some other reviewers have said, more dense and less layered like the authentic ones you might crave. Still good though.",
        "stars": 5,
        "user_friends": 182,
        "user_link": "https://www.yelp.com/user_details?userid=ZqFaaSTsbT2LcIEObjFkkw",
        "user_location": "Chicago, IL",
        "user_name": "Heather P.",
        "user_photos": 33,
        "user_reviews": 103
    },
    {
        "check_ins": 0,
        "elite_status": "not elite",
        "review_date": "8/25/2018",
        "review_text": "I have had a fair share amount of French pastries and based on the yelp review I tried this place for the first time. I had croissants, tart and a piece of flan from this place. The flan and tart were pretty good though one thing I need to say about the flan is that the crust was all soggy and had an unpleasant texture. The croissants were a little disappointing as they were not so French and more of the American style. They did not have many thin layers and are more bready, heavy and dense. Overall the pastries that I has are just the average but I am willing to try other things they have next time.",
        "stars": 3,
        "user_friends": 36,
        "user_link": "https://www.yelp.com/user_details?userid=ToNUBUoIeCtRCsrpyx7h-w",
        "user_location": "Chicago, IL",
        "user_name": "Emma L.",
        "user_photos": 2,
        "user_reviews": 9
    },
    {
        "check_ins": 1,
        "elite_status": "not elite",
        "review_date": "8/11/2018",
        "review_text": "They have such a large variety of items, and I want to try all of them! From savory sandwiches, breakfast sandwiches, and crepes, to sweet cakes, macaroons, and breads they have it all! Prices are reasonable and everything is so fresh! Will be coming back!",
        "stars": 5,
        "user_friends": 6,
        "user_link": "https://www.yelp.com/user_details?userid=biANPjNK4jOmbfAhEnR4pw",
        "user_location": "Chicago, IL",
        "user_name": "Samantha P.",
        "user_photos": 35,
        "user_reviews": 46
    },
    {
        "check_ins": 1,
        "elite_status": "elite",
        "review_date": "8/3/2018",
        "review_text": "A great little cafe off Damen, with a welcoming outdoor patio and plenty of indoor communal seating. When you walk in, you're immediately greeted by cases and cases of pastries and treats. The staff is clearly a hard working team of bakers, and you can tell by the full cases! I was served by a French woman, and coincidentally the French school is right next door. I will be coming back soon to try the coffee. Today I just got some pastries and treats, all of which were lovely! My favorite was definitely the almond croissant, and my boyfriend loved the ham and cheese one.",
        "stars": 5,
        "user_friends": 207,
        "user_link": "https://www.yelp.com/user_details?userid=_gIEB_Oz0OotU8X5aXr4tg",
        "user_location": "Chicago, IL",
        "user_name": "Megan C.",
        "user_photos": 146,
        "user_reviews": 246
    },
    {
        "check_ins": 0,
        "elite_status": "not elite",
        "review_date": "8/2/2018",
        "review_text": "It was my first time here, and actually my first time trying a French Macaroon. They were very good but I could only eat half of one in a sitting as it was a bit too sweet for me. BUT DELICIOUS. I had the S'more s one, my daughter had the Chocolate, and I will be taking my husband a Raspberry one home. He has a sweet tooth so I'm sure he will appreciate these. I live they have outdoor seating as well. Service was fast and friendly. Will most likely stop by the next time I am in town. Can't wait to try all the other flavors!",
        "stars": 5,
        "user_friends": 0,
        "user_link": "https://www.yelp.com/user_details?userid=N8cXWjNTqsWa_8sIY0jMIQ",
        "user_location": "Kenosha, WI",
        "user_name": "Jessica A.",
        "user_photos": 0,
        "user_reviews": 2
    },
    {
        "check_ins": 0,
        "elite_status": "not elite",
        "review_date": "8/1/2018",
        "review_text": "This place was a nice addition to the building where I have an appointment a few times a year. Would come in and bang out some work and have some decent (not exceptional) coffee. BUT, I'm sitting here thinking this is my last time. Croissants (dairy, egg, flour-per their sign) are $3.50 each. They forgot to add air, which is about 50% of a croissant. So, after tax and 20% tip) I just spent almost $10 for two! Outta here!",
        "stars": 4,
        "user_friends": 55,
        "user_link": "https://www.yelp.com/user_details?userid=nPLRy7Jq2RGuNLw1ium_bg",
        "user_location": "Lisle, IL",
        "user_name": "Tana M.",
        "user_photos": 0,
        "user_reviews": 1
    },
    {
        "check_ins": 0,
        "elite_status": "not elite",
        "review_date": "7/18/2018",
        "review_text": "The pastries, coffee, sandwiches and service are great. Our daughter's preschool is in the building, so I've been dozens of times and have never been disappointed. Another gem in Ravenswood!",
        "stars": 5,
        "user_friends": 10,
        "user_link": "https://www.yelp.com/user_details?userid=HBOFzVE1jHJu_GRSYoz3bg",
        "user_location": "Chicago, IL",
        "user_name": "Jeff K.",
        "user_photos": 0,
        "user_reviews": 56
    },
    {
        "check_ins": 0,
        "elite_status": "elite",
        "review_date": "7/7/2018",
        "review_text": "I stopped here quite randomly as I was walking past, just a few minutes before closing and I'm so glad I was able to sneak in! They had these tiny pearl sugar crusted putechoux type pasties that simply melt in your mouth and their macarons are delicious and adorable. Some of the best flavor options around too. I took the s'mores and the minion ones for myself for later and grabbed a few gorgeous looking canelles to share with my sister. The little pastry mentioned earlier never made it off the premises. Yum! I'll definitely have to come back in the morning sometime and try their breads to take on a picnic and pretend I'm in Paris.",
        "stars": 5,
        "user_friends": 13,
        "user_link": "https://www.yelp.com/user_details?userid=4tkkDeJ9pAMfrsj920fazg",
        "user_location": "Evanston, IL",
        "user_name": "Anna G.",
        "user_photos": 89,
        "user_reviews": 65
    },
    {
        "check_ins": 0,
        "elite_status": "not elite",
        "review_date": "6/28/2018",
        "review_text": "I was walking down the street and I saw what I thought was a French restaurant. My wife and I love French food, pastries, bread, and of course wine. I walked to the front and saw a woman and asked if it was a restaurant and continued to ask her questions until she said she didn't work there. Embarrassing.... However, she did have her favorites. I walked in and reviewed the menu on the wall. Right away a gentlemen came up to me from the back in street clothes and asked if I had any questions. I had a lot of questions. Robert had every answer from time of day everything was prepperd. To the cost of each item I inquired to the penny. He gave me a sample of their version of a donut hole and it was amazing. I grabbed my wife the butter and sugar crepes, chocolate croissant and a hot chocolate. After leaving I was left with such a good impression. I walked back in and asked his name and told him I was so appreciative and impressed by his customer service. My wife and I are both managers at separate restaurants within the city. Most importantly my wife and her friend loved the baked items. We will be back. Thank you Robert for your above and beyond commitment to excellence. I know you were done your work day and I appreciate the extra effort. See you soon.",
        "stars": 5,
        "user_friends": 0,
        "user_link": "https://www.yelp.com/user_details?userid=RY4duBL5hRkEFpNKUthDXg",
        "user_location": "Chicago, IL",
        "user_name": "Michael M.",
        "user_photos": 0,
        "user_reviews": 4
    },
    {
        "check_ins": 0,
        "elite_status": "not elite",
        "review_date": "6/20/2018",
        "review_text": "I strongly recommend this marvelous place! Food there is just delicious and especially the macaron. The waiters are very professional and friendly, the service is always great and there is an outdoor space during summer that is very enjoyable.",
        "stars": 5,
        "user_friends": 6,
        "user_link": "https://www.yelp.com/user_details?userid=IQIzjXCtEzipotep9otsJQ",
        "user_location": "Chicago, IL",
        "user_name": "Delphine D.",
        "user_photos": 0,
        "user_reviews": 4
    },
    {
        "check_ins": 0,
        "elite_status": "not elite",
        "review_date": "6/8/2018",
        "review_text": "Just moved into the neighborhood and this is the first brunch spot we tried. On a whim on our way out of town this morning we stopped in, in hopes of a breakfast sandwich and my first impression was how charming and social this place is. There were many conversations and work meetings going on, giving this place a warm and casual feel. I ordered the Normandie (croissant, egg, onions, tomato, Brie) and my guy got the Nordic (croissant, egg, avocado, greens, salmon). We grabbed a table and had only a short wait until they brought our plates out. My sandwich was fabulous, definitely would order again, but my guy didn't like his and thought the flavors were a bit off together. I also think it was rather overpriced, he was still hungry after his sandwich and wanted a plain croissant but it was $4, $25 on two small breakfast sandwiches and a croissant is a bit much in my opinion so we passed. Can't give more stars because this place was dirty. Several tables needed to be wiped down, the coffee bar was littered, there were only a few cups left to serve yourself water and each one I flipped was visibly dirty but only semi busy. They also had a basket out on the counter of croquettes with a sign that said \"freshly baked croquettes!\" which to me and several others read as \"sample me\" but that was not the case and the staff seemed surprised and corrected us. Sorry but a basket of small hand food with a sign that boasts about them being fresh definitely makes it look like a sample! And for the price I wouldn't buy the pastries without trying them first so it seemed smart to have samples. When all is said and done, this place is charming and I liked my sandwich but I wish it had been cleaner or more reasonably priced. I'm sure living in the neighborhood I'll be back to try more, hopefully next time the weather will cooperate and I can sit outside in their adorable little patio.",
        "stars": 3,
        "user_friends": 210,
        "user_link": "https://www.yelp.com/user_details?userid=UBsc4RKDogrgpOkwP2YRWQ",
        "user_location": "Barrington, IL",
        "user_name": "Jillian N.",
        "user_photos": 11,
        "user_reviews": 39
    },
    {
        "check_ins": 0,
        "elite_status": "not elite",
        "review_date": "6/2/2018",
        "review_text": "I just stopped by this cafe for the first time. I have to say it is the best cafe I have ever tried. The ham and cheese croissant was to die for. I had one and had to go back in and take one to go for later. His place is small, but seems to do great business! I will be planning to come back next time I'm in the area. This is a must try. I would give it 10 stars if I could!",
        "stars": 5,
        "user_friends": 63,
        "user_link": "https://www.yelp.com/user_details?userid=VtVHE3QE-k06oHnkenycLg",
        "user_location": "Chicago, IL",
        "user_name": "Sonja M.",
        "user_photos": 2,
        "user_reviews": 22
    },
    {
        "check_ins": 1,
        "elite_status": "elite",
        "review_date": "6/1/2018",
        "review_text": "My girlfriend is from Chicago and has raved about this as a breakfast hot spot. In my mind I was expecting a pretentious, white-glove, sparse portion experience. On my most recent trip back to the Ravenswood neighborhood to visit family, I discovered just how far removed my perception was from reality.La Boulangerie is a simple, relaxed, casual spot that served up a very tasty meal. I had a bacon and egg croissant and my girlfriend had the Nordic, a croissant served with salmon. Her mom had a plain croissant and coffee. I and my girlfriend enjoyed lattes.Our breakfast sandwiches were heartier than I expected, the croissants were fresh and fairly good sized. The greens were crisp, and the lattes were rich and flavorful.We ordered pastries to take back to Ohio. The macaron variety was plentiful and a bit on the pricey side, but they were fresh and flavorful. My girlfriend highly recommended the almond croissant, though I opted for chocolate and some raspberry pastries to give as a gift.I enjoyed the casual atmosphere here. It was bright and cheery, even when it was rainy and overcast outside. We ate at community tables with bench seating, but it was easy to enjoy conversation without having to strain to hear. The people were friendly, too--patrons and employees alike. This was an enjoyable, filling breakfast meal. I will be happy to come back on the next trip!",
        "stars": 4,
        "user_friends": 167,
        "user_link": "https://www.yelp.com/user_details?userid=cvQ6T7vvc0dLnLB_3gzTJw",
        "user_location": "Willoughby, OH",
        "user_name": "Kim F.",
        "user_photos": 74,
        "user_reviews": 48
    },
    {
        "check_ins": 0,
        "elite_status": "not elite",
        "review_date": "6/1/2018",
        "review_text": "Excellent sandwiches! Brought me right back to Parisian sandwich shops. Very cute interior and the staff was kind and helpful. Desserts look great too, but grabbed some to go and haven't tried yet.",
        "stars": 5,
        "user_friends": 2,
        "user_link": "https://www.yelp.com/user_details?userid=VpHQW0vAioVLRHdR4fzOCQ",
        "user_location": "Chicago, IL",
        "user_name": "Adam L.",
        "user_photos": 0,
        "user_reviews": 9
    },
    {
        "check_ins": 0,
        "elite_status": "not elite",
        "review_date": "5/13/2018",
        "review_text": "Oooooh I want to love Boulangerie so much. They are SO good at what they're good at... but they struggle so much in other areas that - if they got right - would make them crush it.Their croissants and other baked goods are so so so lovely and scrumptious.....But the second you switch to ordering prepared foods, things have a tendency to fall apart. Obviously these are first world problems but here are recent examples: \u00a0Ordered a lemon crepe from the menu.... when it came it was plain and the manager said \"oh sorry we are out of lemon.\" Did they know that when we ordered? Or did it happen after? Why not communicate that to us and give us an option to reorder? Ordered a crepe dish and asked them for Brie instead of mozzarella inside... \"no problem\" - but it came with mozzarella (and barely warm inside and egg on top was not adequately cooked). Our four dishes came at very different times... my kids were done w their breakfast by the time mine came. Bottom line- it feels like they are one person short and that communication internally could be improved, s'il vous plait!!!",